

body {
  font-family: Arial, sans-serif;
  background-color: rgb(223, 234, 234);
  color: rgb(24, 5, 5);
  margin: 0;
  text-align: center;
  overflow: hidden;
}

header {
  background-color: rgb(16, 15, 15);
  padding: 20px;
  border-bottom: 3px solid rgb(143, 206, 227);
}

h1 {
  color: white;
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin-top: 8px;
}

nav ul li {
  display: inline;
  margin:  15px;
}

nav a {
  color: rgb(13, 240, 237);
  text-decoration: none;
  font-weight: bold;
}

nav a.active,
nav a:hover {
  color: rgb(204, 240, 228);
}

.contact {
  padding: 45px;
  object-fit: cover;
  border: 70px solid rgb(240, 67, 67);
}

footer {
  position:relative;
  font-size: large;
  background-color:  #ec4646;
  color: #f3ebeb;
  top:50px;
  padding: 20px;

}
