body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: white;
  margin: 0;
  text-align: center;
}

header {
  background-color: black;
  padding: 50px;
  border-bottom: 3px solid rgb(244, 5, 5);
}

h1 {
  color:rgb(244, 5, 5);

  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin-top: 1px;
}

nav ul li {
  display: inline;
  margin: 15px;
}

nav a {
  color: rgb(247, 231, 231);
  text-decoration: none;
  font-weight: bold;
}

nav a.active,
nav a:hover {
  color:rgb(231, 5, 5);

}

.menu {
  padding: 10px;
}

.menu-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.item {
  background-color: black;
  border: 2px solid rgb(5, 224, 244);
  border-radius: 30px;
  padding: 10px;
  width: 100px;
}

.item img {
  width: 100%;
  border-radius: 6px;
}

footer {
  background-color: black;
  font-size: large;
  color:rgb(16, 181, 164);
  padding: 10px;
  border-top: 2px solid red;
}
